#main_page_title {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Times New Roman', serif;
    font-weight: normal;
    font-size: 60px;
}

.main_page_star > path:hover {
    color: #e3d802;
    cursor: pointer;
}

.main_page_list_item {
    border: 1px #adadad solid;
}

.main_page_star {
    float: right;
    /*margin-top: 15px;*/
}

