#subject_title {
    text-align: center;
    margin-bottom: 40px;
}


.subject_form_group {
    max-width: 300px;
}

.subject_add_button {
    margin-bottom: 15px;
}

.subject_empty_text {
    margin-top: 25px;
    color: red;
}

.subject_sub_title_border_left {
    margin-bottom: 20px;
}

.subject_sub_title_border_right {
    margin-bottom: 20px;

}

.subject_delete_icon {
    margin-left: 5px;
}

.subject_list {
    margin-top: 15px;
}

@media (min-width: 768px) {
    .subject_sub_title_border_left {
        border-left: 1px solid lightgray;
        margin-bottom: 0;
    }

    .subject_sub_title_border_right {
        border-right: 1px solid lightgray;
        margin-bottom: 0;

    }

    .subject_sub_title {
        text-align: center;
        margin-bottom: 25px;
    }

}