.floatDiv {
    display: none;
    position: absolute;
    background: white;
    left: 159px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    z-index: 1;
}

.navBar_item1:hover > div {
    display: block;
    bottom: 119px;
}

.navBar_item2:hover > div {
    display: block;
    bottom: 87px;
}

.navBar_item3:hover > div {
    display: block;
    bottom: 55px;
}

.navBar_item4:hover > div {
    display: block;
    bottom: 23px;
}

#nav_bar {
    background: #2a439a;
}

.nav_bar_login_link {
    color: #02abe3;
    padding-left: 0 !important;
}

.nav_bar_login_link:hover {
    color: #53d7f5 !important;
}

#nav_bar_search_icon {
    color: white;
    margin: 10px 15px 0 0;
}